.box {
  display: flex;
}
.shadow{
  box-shadow: rgba(255, 255, 255, 0.2) 0px 2px 1px -1px,
  rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
}
.all{
  flex-direction: column;
}
.header{
  flex-direction: column;
  align-items: center;
  background-size: cover;
  height: 1366px;
  width: 100%;
}
.h-tittle{
 height: 55px;
 justify-content: space-between;
 align-items: center;
 width:100%;
 z-index: 5px;
}
.h-nav{
  justify-content: space-around;
  width: 30%;
}
.h-avatar{
  align-items: flex-end;
  flex:1;
  margin-bottom: 60px;
  justify-content: center;
}
.h-Introduction-two{
  justify-content: center;
  align-items:flex-start;
  font-size:70px;
  margin-top: 20PX;
}
.h-Introduction-three{
  align-items:flex-start;
  margin-top: 20PX;
  font-size:22px;
}
.h-link{
 justify-content: space-around;
 align-items:flex-start;
 width:35%;
 margin-top: 80PX;
 margin-bottom: 10px;
}
.h-down{
  align-items: center;
  flex:1;
}
.nav{
  height: 500px;
}
/* content */
.content{
  height: 500px;
}
.video{
  justify-content: center;
}
.buttom{
  height: 30px;
  width: 100%;
}.footer{
  background-color:rgb(0, 0, 0);
  height: 80px;
}